.textButton {
  background: none !important;
  color: var(--gray-11, #646464);
  cursor: pointer !important;
  text-decoration: underline !important;

  &:hover,
  &:focus-visible {
    color: var(--gray-8, #e0e0e0);
  }

  &:disabled {
    cursor: not-allowed !important;

    &:hover,
    &:focus-visible {
      color: var(--gray-6, #999999);
    }
  }
}
