@use '../../styles/mixins' as *;

.mapLegendContainer {
  position: absolute;
  bottom: 10px;
  left: var(--space-5, 24px);
  background: var(--white, #fff);
  border-radius: var(--radius-4, 8px);
  padding: var(--space-3, 16px);
  box-shadow:
    0 12px 32px -16px var(--gray-a5, rgba(0, 0, 0, 0.12)),
    0 12px 60px 0 var(--black-a3, rgba(0, 0, 0, 0.15));
  z-index: 1;
  width: 115px;

  @include mobile-only {
    top: 10px;
    bottom: auto;
    left: var(--space-4, 16px);
  }
}

.legendCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  flex-shrink: 0;

  @include mobile-only {
    width: 12px;
    height: 12px;
  }

  &.highRetreat {
    background-color: #cc5803;
  }

  &.moderateRetreat {
    background-color: #ff9e1b;
  }

  &.lowRetreat {
    background-color: #ffd27f;
  }

  &.highGrowth {
    background-color: #007bff;
  }

  &.moderateGrowth {
    background-color: #59acff;
  }

  &.lowGrowth {
    background-color: #97dfff;
  }

  &.highDensity {
    background-color: #5e2b97;
  }

  &.lowDensity {
    background-color: #a15eff;
  }

  &.buildings {
    background-color: #a8b2b9;
  }
}
