@use '../../styles' as *;

.backgroundInformationIntroCallout {
  //   position: absolute;
  //   z-index: 10;
  //   background-color: var(--white, #fff);
  width: 100%;
  color: var(--gray-12, #202020) !important;
  padding: var(--space-4, 16px);
}
